
body
{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ed/Pine_forest_Ooty.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1600px 2200px;
  

}

h1 {
  text-shadow: 1px 1px black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f1f1f1;
}

li{
	float: left;
	 border-right:0px solid grey;
}

li:last-child {
	border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



/* Change the link color on hover */
/*Shadow for text*/

.button {
  background-color: #f1f1f1;
  border: none;
  color: black;
  padding: 20px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: grey;
}
